<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
<head>
    {% block head %}
        {{ super() }}
    {% endblock %}
</head>
<body>
{% block body %}
    {% for item in display %}
        <div class="row card-panel pink lighten-2 white-text">
            {% for key in item %}
            <div>
                <div class="col s4 form-header">{{ key }}</div>
                <div class="col s8">{{ item[key] }}</div>
            </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
</body>
</html>
