<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
<head>
    {% block head %}
        {{ super() }}
    {% endblock %}
</head>
<body>
{% block formNav %}
    <nav class="nav-extended">
        <div class="nav-wrapper light-blue darken-3">
            <a href="#" class="brand-logo left-margin">Survey Client</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% block navItems %}
                    <li class="active"><a href="{{ url_for('requestForm') }}">Form Request</a></li>
                    <li><a href="{{ url_for('viewAllTokens') }}">Tokens</a></li>
                {% endblock %}
            </ul>
        </div>
    </nav>
{% endblock %}
{% block body %}
    {% block subBody %}
    {% endblock %}
    {% block instructions %}
        <div class="row">
            <div class="col s12">
                <h5 class="form-header">Instructions</h5>
                <ol>
                    <li>
                        <h5 class="question-font">Request an authentication token from the survey organizer</h5>
                    </li>
                    <li>
                        <h5 class="question-font">Prove your identity:</h5>
                        <ol>
                            <li> Organizer will send you a random string</li>
                            <li> Encrypt the string using your public key registered with CA using your Aadhar</li>
                            <li> Send organizer the encrypted message to prove your identity</li>
                            <li> Organizer will look up your public key with the CA, and then decrypt your message</li>
                            <li> If the message is the string it sent you earlier, you are provided with a SurveyToken
                                that
                                you can use to fill the survey
                            </li>
                        </ol>
                    </li>
                    <li>
                        <h5 class="question-font">If you were authenticated the box above would turn green</h5>
                    </li>
                    <li>
                        <h5 class="question-font">Fill form which is retrieved</h5>
                    </li>
                </ol>
            </div>
        </div>
    {% endblock %}
{% endblock %}
</body>
</html>
