<!DOCTYPE html>
<html lang="en">
{% extends "formBase.html" %}
<head>
    {% block head %}
        {{ super() }}
    {% endblock %}
</head>
<body>
{% block body %}
    {% block subBody %}
        {% if randomMessage %}
            <div class="row">
                {% if authenticated %}
                    <div class="card-panel green darken-1 block-style">
                        <h5 class="white-text center form-header">Organization Server sent a message!</h5>
                        <h3 class="white-text center"><strong>Survey ID: {{ surveyID }}</strong></h3>
                        <h3 class="white-text center"><strong>Survey Token:{{ surveyToken }}</strong></h3>
                        <h3 class="white-text center"><strong>{{ randomMessage }}</strong></h3>
                    </div>
                {% else %}
                    <div class="card-panel red darken-1 block-style">
                        <h5 class="white-text center form-header">Organization Server sent a message!</h5>
                        <h3 class="white-text center"><strong>Survey ID: {{ surveyID }}</strong></h3>
                        <h3 class="white-text center"><strong>{{ randomMessage }}</strong></h3>
                        <p class="white-text center">Unauthenticated</p>
                    </div>
                {% endif %}
            </div>
        {% endif %}
        {% if response %}
            <div class="card">
                <div class="row light-blue darken-1">
                    <h4 class="form-header col s12 white-text center">Generated Form</h4>
                </div>
                <form action="{{ url_for('publishBlockOnFabric',surveyID=surveyID) }}" class="block-style"
                      method="POST">
                    {% for question in response['form'] %}
                        <div class="row">
                            <div class="block-style">
                                <h5 class="question-font">{{ response['form'][question]['question'] }}</h5>
                                <label>Options</label>
                                <select class="browser-default" name="{{ question }}">
                                    {% for allowedAnswers in response['form'][question]['allowedAnswers'] %}
                                        <option value="{{ allowedAnswers }}">{{ response['form'][question]['allowedAnswers'][allowedAnswers] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    {% endfor %}
                    <br>
                    <input class="waves-effect waves-light btn light-blue darken-4" type="submit" value="Submit Form">
                </form>
            </div>
        {% endif %}
    {% endblock %}
    {% block instructions %}
        {{ super() }}
    {% endblock %}
{% endblock %}
</body>
</html>
