<!DOCTYPE html>
<html lang="en">
{% extends "formBase.html" %}
<head>
    {% block head %}
        {{ super() }}
    {% endblock %}
</head>
<body>
{% block body %}
    {% block subBody %}
        {% if randomMessage %}
            <div class="row">
                {% if authenticated %}
                    <div class="card-panel green darken-1 block-style">
                        <h5 class="white-text center form-header">Organization Server sent a message!</h5>
                        <h4 class="white-text center"><strong>Survey ID: {{ surveyID }}</strong></h4>
                    </div>
                {% else %}
                    <div class="card-panel red darken-1 block-style">
                        <h5 class="white-text center form-header">Organization Server sent a message!</h5>
                        <h4 class="white-text center"><strong>Survey ID: {{ surveyID }}</strong></h4>
                        <p class="white-text center">Unauthenticated</p>
                    </div>
                {% endif %}
            </div>
            <div class="row block-style">
                <div class="card-panel col s8 offset-s2 yellow darken-4">
                    <div class="row">
                        <div class="center">
                            <h5 class="question-font white-text">The organization has asked you to hash <p class="form-header">{{ randomMessage }}</p> using your public key
                            </h5>
                        </div>
                    </div>
                    <form action="{{ url_for('generateForm') }}" method="POST" class="block-style">
                        <div class="row">
                            <label class="white-text">Hashed String</label>
                            <div class="input-field">
                                <input id="ip" type="hidden" class="validate" name="encryptedRandomMessage"
                                       value="{{ encryptedRandomMessage }}">
                                <input id="ip" type="text" class="validate white-text" name="display-token"
                                       value="{{ encryptedRandomMessage }}" disabled>
                            </div>
                        </div>
                        <center><input type="submit" class="waves-effect waves-light btn deep-orange darken-4"
                                       value="Authenticate"></center>
                    </form>
                </div>
            </div>
        {% endif %}
    {% endblock %}
    {% block instructions %}
        {{ super() }}
    {% endblock %}
{% endblock %}
</body>
</html>
