<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
<head>
    {% block head %}
        {{ super() }}
    {% endblock %}
</head>
<body>
{% block body %}
    {% for item in display %}
        <div class="row card-panel pink lighten-2 white-text">
                <center><h3 class="block-style deep-purple">Survey ID: {{ item['surveyID'] }}</h3>
                    <div class="block-style pink lighten-1">
                        <center><h4>Form</h4></center>
                        <p>{{ item['form'] }}</p>
                    </div>
                    <div class="block-style pink lighten-1">
                        <center><h4>Pay Out</h4></center>
                        <h4>{{ item['payOut'] }}</h4>
                    </div>
                    <form action="{{ url_for('requestForm') }}" method="POST">
                        <input type="hidden" name="request_ip" value="{{ item['website'] }}">
                        <center><input type="submit" class="waves-effect btn waves-light darken-4"
                            value="Get Form"></center>
                    </form>
        </div>
    {% endfor %}
{% endblock %}
</body>
</html>
