<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
<head>
    {% block head %}
        {{ super() }}
    {% endblock %}
</head>
<body>
{% block body %}
    {% if clientTokens %}
        {% for token in clientTokens %}
            <form action="{{ url_for('generateForm') }}" method="POST">
                <div class="row card-panel green darken-1">
                    <h5 class="white-text col s4"><strong>Survey ID</strong></h5>
                    <input value="{{ token }}" type="hidden" name="surveyID">
                    <h5 class="white-text form-header col s8">{{ token }}</h5>
                    <input value="true" type="hidden" name="from-token">
                    <h5 class="white-text col s4"><strong>Survey Token</strong></h5>
                    <input value="{{ clientTokens[token]['surveyToken'] }}" type="hidden" name="surveyToken">
                    <h5 class="white-text form-header col s8">{{ clientTokens[token]['surveyToken'] }}</h5>
                    <h5 class="col s4 white-text"><strong>Claim Status</strong></h5>
                    {% if claimed[token] %}
                        <h5 class="white-text col s8">Token claimed</h5>
                    {% else %}
                        <h5 class="white-text col s8">Token Valid</h5>
                    {% endif %}
                    <input type="submit" class="waves-effect waves-light btn  green darken-4"
                           value="Use Token">

                </div>
            </form>
        {% endfor %}
    {% endif %}
{% endblock %}
</body>
</html>

</body>
</html>
