<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
<head>
    {% block head %}
        {{ super() }}
    {% endblock %}
</head>
<body>
{% block body %}
    {% if clientTokens %}
        {% for token in clientTokens %}
            <form action="{{ url_for('generateForm') }}" method="POST">
                <div class="row card-panel green darken-1">
                    <div class="col s12">
                        <input value="{{ token }}" type="text" class="validate white-text form-header" name="surveyID">
                        <input value="true" type="hidden" name="from-token">
                        <input value="{{ clientTokens[token]['surveyToken'] }}" type="text" name="surveyToken"
                               class="validate white-text form-header">
                        <div>
                            <p class="block-style white-text">{{ clientTokens[token]['on-chain'] }}</p>
                        </div>
                        <input type="submit" class="waves-effect waves-light btn light-blue darken-4"
                               value="Use Token">

                    </div>
                </div>
            </form>
        {% endfor %}
    {% endif %}
{% endblock %}
</body>
</html>

</body>
</html>
