<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>Organization Web App</title>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Bitter|Indie+Flower|Nunito|Raleway|Spectral+SC|Vollkorn+SC"
              rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static',filename = 'css/styles.css') }}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% endblock %}
</head>
<body>
<nav class="nav-extended">
    <div class="nav-wrapper pink">
        <a href="#" class="brand-logo left left-margin">Organization Web App</a>
        <ul id="nav-mobile" class="right">
            {% block navItems %}
                <li><a href="{{ url_for('serve_form_generate') }}">Generate</a></li>
                <li><a href="{{ url_for('serve_form_retrieve') }}">Form Retrieve</a></li>
                <li><a href="{{ url_for('serve_display_survey') }}">Display Survey</a></li>
                <li><a href="{{ url_for('serve_display_status') }}">Display Status</a></li>
                <li><a href="{{ url_for('serve_display_assignSurveyToken') }}">Assigned Survey Tokens</a></li>
                <li><a href="{{ url_for('serve_display_general') }}">Display General</a></li>
            {% endblock %}
        </ul>
    </div>
</nav>
<div class="container">
    {% block body %}
    {% endblock %}
</div>
</body>
</html>
