<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
<head>
    {% block head %}
        {{ super() }}
    {% endblock %}
</head>
<body>
{% block body %}
    {% for survey in display %}
        <div class="pink lighten-3 white-text">
            <div class="pink">
                <h3 class="block-style">{{ survey['surveyID'] }}</h3>
            </div>
            <div class="row">
                {% for key in survey %}
                <div class="row">
                    <div class="col s2 offset-s2 pink lighten-2">{{ key }}</div>
                    <div class="col s4 pink lighten-2">{{ survey[key] }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
</body>
</html>

</body>
</html>
