<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
<head>
    {% block head %}
        {{ super() }}
    {% endblock %}
</head>
<body>
{% block body %}
    {% for survey in display %}
        <div class="pink lighten-2 white-text">
            <div class="pink">
                <h3 class="block-style">{{ survey['surveyID'] }}</h3>
            </div>
            <div class="block-style">
                {{ survey }}
            </div>
        </div>
    {% endfor %}
{% endblock %}
</body>
</html>

</body>
</html>
