<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
<head>
    {% block head %}
        {{ super() }}
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="row card-panel white-text deep-purple darken-1">
        <form method="POST" action="{{ url_for('serve_form_retrieve') }}">
            <label for="arg"><h4><center>Select Survey ID:</h4></center></label>
            <select class="browser-default deep-purple darken-1 white-text" name="arg">
                <option value="" disabled selected>Select Survey ID</option>
                {% for surveyID in surveyID_DB %}
                    <option value="{{surveyID}}">{{surveyID}}</option>
                {% endfor %}
            </select>
            <br>
            <center><input type="submit" class="btn waves-effect pink" value="Display"></center>
        </form>
    </div>
    {% for item in display %}
        <div class="row card-panel pink lighten-2 white-text">
            <div class="row block-style deep-purple darken-1">
                <div class="col s4 form-header">Survey ID:</div>
                <div class="col s8">{{item['surveyID']}}</div>
                <div class="col s4 form-header">Consumer: </div>
                <div class="col s8">{{item['assignSurveyToken']['consumer']}}</div>
                <div class="col s4 form-header">Survey Token: </div>
                <div class="col s8">{{item['assignSurveyToken']['surveyToken']}}</div>
            </div>
            <div>
                {% for question in item['filledForm'] %}
                    <h4>{{question}}: {{item['filledForm'][question]}}</h4>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
</body>
</html>

</body>
</html>
