<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
<head>
    {% block head %}
        {{ super() }}
    {% endblock %}
</head>
<body>
{% block body %}
        <div class="row card-panel white pink lighten-2">
            <div>
                <form method="POST" action="{{ url_for('serve_form_generate') }}" class="white-text">
                    <label for="form" class="white-text">Form</label>
                    <textarea name="form" rows="10" cols="30">{{form}}</textarea>
                    <label for="surveyID" class="white-text">Survey ID</label>
                    <input name="surveyID" value="surveyID-ABCDE">
                    <label for="payOut" class="white-text">Pay Out</label>
                    <input name="payOut" value="10">
                    <center><input type="submit" value="Generate Form"></center>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <h5 class="form-header">Instructions</h5>
                <ol>
                    <li>
                        <h5 class="question-font">Define the survey form</h5>
                    </li>
                    <li>
                        <h5 class="question-font">Publish the form on the blockchain</h5>
                        <ol>
                            <li> A Survey asset linked with your OrganizationAccount is created</li>
                            <li> The Consumer will view the Survey asset on the blockchain and request the form from you</li>
                        </ol>
                    </li>
                </ol>
            </div>
        </div>

{% endblock %}

</body>
</html>

</body>
</html>
