<!DOCTYPE html>
<html lang="en"><!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
<head>
    {% block head %}
        {{ super() }}
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="row card-panel white-text deep-purple darken-1">
        <div>
            <form method="POST" action="{{ url_for('serve_form_generate') }}" class="white-text">
                <h5 class="white-text">Form</h5>
                <textarea class="materialize-textarea deep-purple lighten-2" name="form" rows="10"
                          cols="30">{{ form }}</textarea>
                <div class="row">
                    <label for="surveyID"><h5 class="white-text col center">Survey ID</h5></label>
                    <input name="surveyID" value="surveyID-ABCDE" class="col center">

                    <label for="payOut"><h5 class="white-text col center">Pay Out</h5></label>
                    <input name="payOut" value="10" class="col center">

                    <label for="surveyFunds"><h5 class="white-text col center">Survey Funds</h5></label>
                    <input name="surveyFunds" value="3000" class="col center">

                    <label for="expiry"><h5 class="white-text col center">Expiry (in days)</h5></label>
                    <input name="expiry" value="1" class="col center">

                    <label for="optionRange"><h5 class="white-text col center">Option Range</h5></label>
                    <input name="optionRange" value="1" class="col center">
                </div>
                <center><input type="submit" class="btn waves-effect pink" value="Generate Form"></center>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h5 class="form-header">Instructions</h5>
            <ol>
                <li>
                    <h5 class="question-font">Define the survey form</h5>
                </li>
                <li>
                    <h5 class="question-font">Publish the form on the blockchain</h5>
                    <ol>
                        <li> A Survey asset linked with your OrganizationAccount is created</li>
                        <li> The Consumer will view the Survey asset on the blockchain and request the form from you
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}
</body>
</html>
